<div class="form-wrapper">

  <form [formGroup]="bookForm">

    <h3 class="mb-4">Book Info</h3>

    <div class="form-group">
      <label for="author">Author</label>
      <input
        class="form-control"
        id="author"
        formControlName="author">
    </div>

    <div class="form-group">
      <label for="title">Title</label>
      <input
        class="form-control"
        id="title"
        formControlName="title"
      >
    </div>

    <div class="form-group">
      <label for="isbn">ISBN</label>
      <input
        class="form-control"
        id="isbn"
        formControlName="isbn"
      >
    </div>

    <div class="form-group">
      <label for="pages">Number of Pages</label>
      <input
        class="form-control"
        id="pages"
        formControlName="pages"
      >
    </div>

    <div class="form-group">
      <label for="format">Format</label>
      <select class="form-control" id="format" formControl="format">
        <option *ngFor="">Paperback</option>
      </select>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control"
                id="description"
                rows="3"
                formControlName="description"
      ></textarea>
    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <input class="form-control"
             id="price"
             formControlName="price">
    </div>

    <hr class="m-1 mb-5 mt-5">

    <h3 class="mb-4">Publisher Info</h3>

    <div class="form-group">
      <label for="country">Country</label>
      <select class="form-control"
              id="country"
              formControlName="country">
        <option *ngFor="let country of countries" [value]="country" [selected]="country?.name">{{country?.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="city">City</label>
      <select class="form-control"
              id="city"
              formControlName="city">
        <option *ngFor="let city of cities" [value]="city.name" [selected]="city?.name">{{city?.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="company">Company</label>
      <select class="form-control"
              id="company"
              formControlName="company">
        <option *ngFor="let company of companies" [value]="company.name" [selected]="company?.name">{{company?.name}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary mt-4" [disabled]="bookForm.invalid" (click)="formSubmit()">Submit</button>

  </form>

</div>
